html, body, form, ul, li, p, h1, h2, a { 
	padding: 0px;
	margin: 0px;
}
img {
	border: 0px;
}
body {
	font-size: 11px;
	font-family: arial;
	background: url(img/bg.jpg) #EDF4FA repeat-x;
}
a:link {
 color: #000000;
}
a:visited {
 color: #000000;
}
a:hover {
 color: #000000;
}
a:active {
 color: #000000;
}
#main {
	width: 964px;
	margin: 0px auto;
}
#header {
	width: 934px;
	height: 85px;
	background: url(img/header2.jpg) no-repeat;
	padding: 30px 0 0 30px;
	float: left;
}
#main_txt {
	width: 964px;
	background: url(img/txt_bg.jpg) repeat-y;
	padding: 0 0 5px 0;
	float: left;
}
#main_left {
	width: 768px;
	padding: 0 0 5px 0;
	float: left;
}
#main_left2 {
	width: 964px;
	padding: 0 0 5px 0;
	float: left;
}
#main_right {
	width: 177px;
/*	background: url(img/right_bg2.jpg) no-repeat; */
	padding: 16px 13px 0 6px;
	float: left;
}
#txt_left {
	width: 740px;
	background: url(img/line_1.gif) no-repeat 20px 0;
	padding: 10px 8px 0 20px;
	float: left;
}
h1 {
	width: 142px;
	height: 19px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	background: url(img/title_bg.jpg) no-repeat;
	padding: 3px 0 10px 35px;
	float: left;
}
h2 {
	color: #003143;
	font-size: 12px;
	padding: 0 0 5px 0;
	display: block;
}
#search {
	width: 705px;
	height: 44px;
	background: url(img/seach_bg2.jpg) no-repeat;
	padding: 30px 25px 10px 38px;
	float: left;
}
#search .input {
	width: 268px;
	height: 15px;
	color: #5D5D5D;
	background: url(img/se_input_bg.gif) no-repeat;
	border: 0;
	padding: 2px 4px 2px 4px;
	float: left;
}
#search .submit {
	cursor: pointer;
	margin: 1px 0 0 5px;
	float: left;
}
#search_advanced {
	width: 705px;
	height: 100px;
	background: url(img/seach_bg.jpg) no-repeat;
	padding: 30px 25px 10px 38px;
	float: left;
}
#search_advanced .input {
	width: 268px;
	height: 15px;
	color: #5D5D5D;
	background: url(img/se_input_bg.gif) no-repeat;
	border: 0;
	padding: 2px 4px 2px 4px;
	float: left;
}
#search_advanced .submit {
	cursor: pointer;
	margin: 1px 0 0 5px;
	float: left;
}
.menu {
	width: 177px;
	list-style: none;
	padding: 0 0 10px 0;
	float: left;
}
.menu li {
	width: 177px;
	float: left;
}
.menu a {
	color: #003143;
	padding: 0 0 0 30px;
	margin: 4px 0 6px 0;
	display: block;
}
.menu a:hover {
	text-decoration: none;
}
.menu .main, .menu .sub_main {
	width: 150px;
	height: 18px;
	text-decoration: none;
	padding: 4px 0 0 27px;
	margin: 0 0 4px 0;
	display: block;
}
.menu .main {
	background: url(img/menu_2.gif) no-repeat;
}
.menu .sub_main {
	background: url(img/menu_1.gif) no-repeat;
}
.menu .inside, .menu .sub_inside {
	width: 147px;
	height: 17px;
	text-decoration: none;
	padding: 4px 0 0 30px;
	margin: 0 0 2px 0;
	display: block;
}
.menu .inside {
	background: url(img/menu_3.gif) no-repeat 7px 0;
}
.menu .sub_inside {
	background: url(img/menu_4.gif) no-repeat 7px 0;
}
#ad_1 {
	width: 177px;
	text-align: center;
	float: left;
}
#ad_1 a {
	margin: 0 0 5px 0;
	display: block;
}
#list {
	width: 740px;
	background: url(img/line_1.gif) no-repeat 0 bottom;
	padding: 0 0 6px 0;
	margin: 0 0 10px 0;
	float: left;
}
#list li {
	width: 345px;
	list-style: none;
	background: url(img/icon_1.gif) no-repeat 5px 4px;
	padding: 4px 0 4px 25px;
	float: left;
}
#list a {
	color: #003143;
	text-decoration: none;
}
.news {
	width: 730px;
	color: #003143;
	background: url(img/line_1.gif) no-repeat 0 bottom;
	padding: 10px 5px 10px 5px;
	float: left;
}
.news p {
	padding: 0 0 5px 0;
	display: block;
}
.news .row_1, .news .row_2 {
	padding: 0 0 5px 0;
	display: block;
}
.news .row_1 span {
	color: #E27201;
	margin: 0 0 0 5px;
}
.news .row_1 span a {
	color: #E27201;
	text-decoration: none;
}
.news .row_2 span {
	margin: 0 10px 0 0;
	float: left;
}
.news .row_2 span img {
	margin: 1px 4px 0 0;
	float: left;
}
a.coments, a.vote {
	color: #003143;
	text-decoration: underline;
	background: url(img/icon_3.gif) no-repeat right 3px;
	padding: 0 6px 0 0;
	margin: 0 15px 0 0;
	float: left;
}
a:hover.coments, a:hover.vote {
	text-decoration: none;
}
a.no {
	color: #003143;
	text-decoration: none;
	background: url(img/icon_2.gif) no-repeat 0 4px;
	padding: 0 0 0 12px;
	margin: 0 15px 0 0;
	float: left;
}
a.more {
	width: 58px;
	height: 17px;
	color: #003143;
	text-decoration: none;
	background: url(img/icon_4.gif) no-repeat;
	padding: 4px 0 0 13px;
	float: right;
}
a.submit_2 {
	width: 110px;
	height: 18px;
	color: #04739C;
	text-decoration: none;
	background: url(img/submit_2.gif) no-repeat;
	padding: 3px 0 0 7px;
	margin: 0 5px 0 0;
	float: right;
}
#sort {
	width: 710px;
	height: 38px;
	color: #003143;
	font-size: 12px;
	list-style: none;
	background: url(img/sort_bg.gif) no-repeat;
	padding: 0 15px 0 15px;
	float: left;
}
#sort .left {
	padding: 12px 0 0 0;
	float: left;
}
#sort .left span {
	font-weight: bold;
	margin: 0 0 0 10px;
}
#sort .right {
	padding: 8px 5px 0 5px;
	float: right;
}
#sort .right span {
	height: 18px;
	background: url(img/sort_left.gif) no-repeat;
	padding: 4px 15px 0 23px;
	float: left;
}
#sort .right a {
	height: 22px;
	color: #003143;
	font-size: 11px;
	text-decoration: none;
	background: url(img/sort_right.gif) no-repeat right 0;
	cursor: pointer;
	float: left;
}

#pages {
	width: 740px;
	color: #003143;
	text-align: center;
	padding: 20px 0 0 0;
	float: left;
}
#pages a {
	color: #003143;
	text-decoration: none;
	margin: 0 5px 0 5px;
}
#pages a:hover {
	font-weight: bold;
	text-decoration: underline;
}
#footer {
	width: 934px;
	height: 25px;
	color: #003143;
	background: url(img/footer_bg.jpg) no-repeat;
	padding: 28px 15px 10px 15px;
	float: left;
}
#footer a {
	color: #003143;
	text-decoration: none;
	margin: 0 4px 0 4px;
}
#footer_left {
	width: 434px;
	float: left;
}
#footer_right {
	width: 500px;
	text-align: right;
	float: left;
}
#list a:hover, .news .row_1 span a:hover, #footer a:hover {
	text-decoration: underline;
}
