body
{
    COLOR: #000000;
    FONT-SIZE: 68%;
    FONT-FAMILY: 'tahoma','verdana','arial';
    MARGIN-TOP: 0.00px;
    MARGIN-BOTTOM: 0.00px;
    MARGIN-LEFT: 0.00px;
    MARGIN-RIGHT: 0.00px;
}
p
{
margin-top:   0.50em;
margin-bottom: 1.00em;
}
h1
{
font-weight:   300;
font-size: 165%;
margin-top: 0.00px;
margin-bottom: 0.50em;
}
h2
{
font-size:   125%;
font-weight: bold;
margin-top: 1em; 
margin-bottom: 0.5em;
}
h3
{
font-size:   115%;
font-weight: bold;
margin-bottom: 0.5em;
}
h4
{
font-size:   100%;
font-weight: bold;
margin-bottom: 0.5em;   
}
a:link
{
color:   #2010a0; 
}
a:visited
{
color:   #2010a0
}
a:active
{
color:   orange
}
a:hover
{
color:   orange
}
td
{
font-family:   tahoma, verdana, arial, helvetica;
font-size:68%;       
}
th
{
font-family:   tahoma, verdana, arial, helvetica;
font-size: 68%;
text-align: left
}
input
{
font-size:   100%;
font-family: tahoma, verdana, arial, helvetica;
}
textarea
{
font-size:   100%;
font-family: tahoma, verdana, arial, helvetica;
}
select
{
font-family:   tahoma, verdana, arial, helvetica;
font-size: 100%;
}
caption
{
font-size:   68%;
font-family: tahoma, verdana, arial, helvetica;
text-align: left;
padding-top: 2;
padding-bottom: 3;
padding-left: 4;
}
caption.formcaption
{
font-weight:   bold;
background-color: #7a98bc;
border: 1 solid black;
color: white;
}
caption.panelformcaption
{
background-color:   #dadada;
border-bottom: 1 solid black;
}
table.maintable
{
border-right:   1px solid black
}
td.headercontainer
{
background-color:   black;
border-bottom: black 1px solid;
}
td.menu
{
background-color:   #7a98bc;
border-right: black 1px solid;
}
table.menupaneltable
{
width:   150px
}
td.menucontainer
{
}
td.workspace
{
background-color:   white;
padding-top: 8px; 
padding-left: 15px;
padding-right: 15px;
}
td.info
{
background-color:   #eaeaea;
border-left: black 1px solid;
}
table.infopaneltable
{
}
td.infocontainer
{
}
input.button
{
background-color:   transparent;
cursor: hand;
}
input.go
{
cursor:   hand;
}
input.formcheckbox
{
}
table.form
{
border-left:   1 solid black;
border-right: 1 solid black;
border-bottom: 1 solid black;
background-color: #eaeaea;
}
table.inform
{
padding-top:   1px;
padding-bottom: 1px; 
padding-right: 4px;
}
table.formgroup
{
}
td.formbutton
{
padding-right:   4px;
}
th.formgroupheader
{
color:   black;
font-weight:     bold;
text-align: left;
padding-top: 4;
padding-bottom: 2
}
td.formcontainer
{
background-color:   #eaeaea;
}
td.formdata
{
color:   black;
padding-right:  4px;
text-align: left;
}
td.forminput
{
text-align:   left;
}
td.formtab
{
font-size:   60%;
border-bottom: 1px solid white; 
border-left:  1px solid white;
border-right:  1px solid black;
border-top:  1px solid white;
cursor: hand
}
td.formtabselected
{
font-size:   60%;
font-weight: bold;
border-left: 1px solid white;
border-right: 1px solid black;
border-top: 1px solid white;
}
td.formtabcontainer
{
border-left:   1px solid white;
border-right: 1px solid black;
border-bottom: 1px solid black;
padding-top: 4;
padding-left: 4;
padding-bottom: 4
}
td.formtabempty
{
background-color:   transparent;
border-bottom: 1px solid white;
}
table.grid
{
background-color:   black;
}
td.gridheader
{
background-color:   #eaeaea;
font-weight: bold;
padding-left: 2px;
padding-right: 2px;
}
td.gridforminput
{
background-color:   white;
padding-left: 2px;
padding-right: 2px;
vertical-align: middle
}
input.gridinput
{
margin-top:   0.00px;
margin-bottom: 0.00px;
margin-left: 0.00px;
margin-right: 0.00px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
border-bottom: none;
border-left: none;
border-right: none;
border-top: none;
}
td.gridnewforminput
{
background-color:   #dadada;
padding-left: 2px;
padding-right: 2px;
padding-top: 3px;
padding-bottom: 3px;
vertical-align: middle
}
input.gridnewinput
{
margin-top:   0.00px;
margin-bottom: 0.00px;
margin-left: 0.00px;
margin-right: 0.00px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
border: 0
}
table.lookup
{
background-color:   black
}
td.lookupdata
{
background-color:   white
}
table.panelform
{
background-color:   #eaeaea;
width: 100%;
border-bottom: 1px solid black;
}
td.panelformcontainer
{
background-color:   #eaeaea;
padding-top: 4px;
padding-bottom: 4px;
}
td.panelformdata
{
color:   black;
padding-right: 4
}
td.panelforminput
{
color:   black;
}
span.panelformtext
{
color:   black;
font-weight: bold;
}
td.panelformbutton
{
color:   black;
}
ul.localmenu
{
margin-top:   0;
margin-left: 12px;
}
ul.nested
{
margin-left:   15px;
padding-left: 0px
}
li.nested
{
margin-left:   0px;
padding-left: 0px
}
div.menu
{
margin-left:   5px;
}
li.menulink
{
margin-top:   1px;
margin-bottom: 2px;
}
table.navbar
{
}
div.simplehorzmenu
{
font-size:   90%;
background-color: #7a98bc; 
position: absolute; 
visibility: hidden; 
width: 150px; 
padding: 5px 5px 5px 5px; 
border-top: 1 solid #eaeaea;
border-left: 1 solid #eaeaea;
}
div.simplehorzmenu a
{ 
color: white; 
text-decoration: none
}
div.simplehorzmenu a:visited
{  
color: white;
}
div.simplehorzmenu a:hover
{
color: black;
}
a:link.menuitem
{
color:   white
}
a:visited.menuitem
{
color:   white
}
a:active.menuitem
{
color:   black
}
a:hover.menuitem
{
color:   black
}
table.reportframe
{
}
table.reportheader
{
margin-bottom:   5px
}
td.companyname
{
font-weight:   bold;
}
td.reportname
{
font-weight:   bold;
}
td.reportdescription
{
}
td.date
{
}
td.time
{
}
td.pageno
{
font-weight:   bold;
}
td.reportcontainer
{
}
th.reportth
{
background-color:   #7a98bc;
color: white;
text-align: left
}
td.odd
{
background-color:   white;
}
td.even
{
background-color:   #eaeaea;
}
th.sumrow
{
background-color:    #efefef;
font-weight: bold;  
width: 100%
}
td.sumrow
{
background-color:   #efefef;
font-weight: bold;
}
td.sum
{
background-color:    #efefef;
font-weight: bold;
border-bottom: black 4px double
}
td.addtobasket
{
text-align:   center;
}
td.removefrombasket
{
text-align:   center;
}
input.reportinput
{
text-align:   right;
width: 100%;
}
input.reportbutton
{
}
input.reportbuttonresize
{
cursor:   hand
}
table.reporttablemargin
{
}
td.basketbuttons
{
}
th.reportthfixedwidth
{
background-color:   #cccccc;
font-weight: bold;
width: 80px  
}
.transparent
{
background-color:   transparent;
}
div.foldheaderns
{
color:   white;
font-weight: bold;
margin-top: 8;
}
td.simplebasecolor
{
background-color:   #eaeaea;
padding-left: 12px;
cursor: hand;
font-size: 60%;
}
td.simplehovercolor
{
background-color:   #d9d9d9;
padding-left: 12px;
cursor: hand;
font-size: 60%;
}
td.simplefolder
{
color:   bold;
font-weight: bold;
background-color: #eaeaea;
padding-left: 6px;
font-size: 60%;
}
a:link.simplemenulink
{
color:   black;
text-decoration: none;
}
a:visited.simplemenulink
{
color:   black;
text-decoration: none;
}
select.navigation
{
font-size:   80%;
font-weight: bold
}
.error
{
color:   red
}
.warning
{
color:   black
}
.information
{
color:   blue
}
#foldheader
{
color:   black;
font-weight: bold;
margin-top: 4.00px;
cursor: hand;
list-style: url(sysimageaction.asp?imagename=menucollapsed);
}
#foldinglist
{
font-weight:   normal;
list-style: url(sysimageaction.asp?imagename=menuitem);
}
div#divmenubar
{
background-color:   #7a98bc;                                      
}
table#tblmenubar
{
border:   none;
}
table#tblmenubar td
{  
font-size: 60%;
color: white; 
padding: 0px 0px 0px 5px; 
}
table#tblmenubar td.simplehorzmenubaritem
{ 
font-weight: bold; 
cursor:hand; 
}
table#tblmenubar td.simplehorzmenubaritem a
{ 
color: white;
text-decoration: none;
}
table#tblmenubar td.simplehorzmenubaritem a:hover
{
color: black;
}

.boxblue { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #FFCC00; 
	background-color: #0803DE; 
	border-color: #FFFF99 #996600 #996600 #FFFF99; 
	border-style: inset; 
	border-top-width: thin; 
	border-right-width: thin; 
	border-bottom-width: thin; 
	border-left-width: thin
	}

.boxred { 
	color: #000099; 
	background-color: #FFCCCC; 
	border-color: #FFFF99 #996600 #996600 #FFFF99; 
	border-style: inset; 
	border-top-width: thin; 
	border-right-width: thin; 
	border-bottom-width: thin; 
	border-left-width: thin
	}

.boxyellow { 
	color: #000099; 
	background-color: #FFCC00; 
	border-color: #FFFF99 #996600 #996600 #FFFF99; 
	border-style: inset; 
	border-top-width: thin; 
	border-right-width: thin; 
	border-bottom-width: thin; 
	border-left-width: thin 
	}

.boxgreen { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #FFCC00; 
	background-color: #336600; 
	border-color: #FFFF99 #996600 #996600 #FFFF99; 
	border-style: inset; 
	border-top-width: thin; 
	border-right-width: thin; 
	border-bottom-width: thin; 
	border-left-width: thin 
	}

.boxwhite { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #000099; 
	background-color: #FFFFFF; 
	border-color: #FFFF99 #996600 #996600 #FFFF99; 
	border-style: inset; 
	border-top-width: thin; 
	border-right-width: thin; 
	border-bottom-width: thin; 
	border-left-width: thin 
	}
	
.redright { 
	color: #FF0000; 
	text-align: right
	}

	
div#breadcrumbs {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 3px;
        font-size: small;
        background-color: #09704D;
        color: #ffffff;
        border-top: solid 2pt #13964A;
        border-bottom: solid 1pt #ffffff;
        font: 11px Verdana,Arial, sans-serif;
	line-height:20px;
}

div#breadcrumbs a {
        color: #ffffff;
        text-decoration:underline;
        font: 11px Verdana,Arial, sans-serif;
/*      border-bottom: 1px solid;*/
}
div#breadcrumbs a:hover {
        text-decoration:none;
}

div#breadcrumbs a:focus {
        text-decoration:none;
        color: #AFAFAF;
}

/* MAIN TABS */
div#topnavlistcontainer {
        border-bottom: 1px solid #C38E85;
}

ul#topnavlist {
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3px;
        margin-top: 0px;
        white-space: nowrap;
}

ul#topnavlist li {
        list-style: none;
        display: inline;
        margin: 0px;
}

ul#topnavlist li a {
	color:#9D4638;
        padding: 3px 9px;
        border: 1px solid #C38E85;
        background: #F8ECC4;
        text-decoration: none;
        margin-left: 1px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-topleft: 4px;
        white-space: nowrap;
        font-weight: bold;
}
ul#topnavlist li:first-child a {
        margin-left: 10px;
}

ul#topnavlist li a:hover, ul#topnavlist li a.active, ul#topnavlist li a:focus {
        color: #000;
        background: #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
}

div#sub-navigation {
        padding: 5px;
        background-color: #F2F2F2; /*#FFFCE5;*/
        border-bottom: 1px solid #dedede;
        color: #9DAB9A;
        margin-bottom:0px;
}

div#sub-navigation strong {
        color: black;
}

