
/* Default typeface & type size spec */
TD,TH,BODY,P,A,UL,LI,UL:UL,DIV {FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 11px}

#all-content     { background-color: #efefef; text-align: left; margin: 8px 8px 8px 0.3cm; padding: 8px 1cm; border: solid 1px #222222; margin-height: 0px; margin-width: 0.3cm }
#content     { text-align: left; padding-right: 15%; padding-left: 15%; width: 600px }
#conbsp   { background-color: #e4f0e7; text-align: left; margin: 8px 0.2cm; padding: 2px; border: solid 1px #b1b1b1; margin-height: 0px; margin-width: 0.2cm }
#conueb   { background-color: #f8e2da; text-align: left; margin: 8px 0.2cm; padding: 2px; border: solid 1px #b1b1b1; margin-height: 0px; margin-width: 0.2cm }
#conlit   { background-color: #dfe4f3; text-align: left; margin: 8px 0.2cm; padding: 2px; border: solid 1px #b1b1b1; margin-height: 0px; margin-width: 0.2cm }
#conabs   { background-color: #ffe9a8; text-align: left; margin: 8px 0.2cm; padding: 2px; border: solid 1px #b1b1b1; margin-height: 0px; margin-width: 0.2cm }

.tblheader  { color: #ffffff; font-style: normal; font-variant: normal; font-size: 11px; line-height: normal; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #000000; text-transform: none }

.tblmain { valign: middle; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000;	background-color: #CCCCCC; }

.tblsec { valign: middle; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000;	background-color: #EEEEEE; }
.tblinfo { background-color: #ddd; padding: 2px; border: solid 1pt #000 }
FORM {display: inline}
SELECT    { color: #000; font-size: 11px; font-family: Arial, Helvetica, sans-serif; border: outset 1 navy }

.tablebody { cell-spacing: 4px; padding: 2px; }
.headline { font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 14px; font-weight: bold;	color: #000000; }

.navi {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.formular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.textfett {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #003399;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #003399;
	text-decoration: none;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #003399;
	text-decoration: underline;
}
.tblsubheader   { color: #fff; font-style: normal; font-variant: normal; font-size: 11px; line-height: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #3c3c3c; text-transform: none }
.abutton   { color: #010101; font-style: normal; font-weight: normal; font-size: 11px; font-family: Arial, Helvetica, sans-serif; text-decoration: none; background-color: #cae2ff; padding: 2px; border: outset 1 navy }