<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- load the main HTMLArea files -->
<script type="text/javascript" src="../htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="../htmlarea/lang/en.js"></script>
<script type="text/javascript" src="../htmlarea/dialog.js"></script>
<!-- <script type="text/javascript" src="../htmlarea/popupdiv.js"></script> -->
<script type="text/javascript" src="../htmlarea/popupwin.js"></script>

<!-- load the TableOperations plugin files -->
<script type="text/javascript" src="../htmlarea/plugins/TableOperations/table-operations.js"></script>
<script type="text/javascript" src="../htmlarea/plugins/TableOperations/lang/en.js"></script>

<style type="text/css">
@import url(../htmlarea/htmlarea.css);

html, body {
    font-family: Verdana,sans-serif;
    background-color: #fea;
    color: #000;
  }
  a:link, a:visited { color: #00f; }
  a:hover { color: #048; }
  a:active { color: #f00; }

  textarea { background-color: #fff; border: 1px solid 00f; }
body {
	background-color: #FFFFFF;
}
</style>
<script type="text/javascript">
var editor = null;
function initEditor() {
  editor = new HTMLArea("inhalt");
  editor.registerPlugin("TableOperations");
  editor.generate();
      
  return false;
}
</script>

</head>
<body onLoad="initEditor()">
</form>
<form action="add_object_files.php" method="POST" enctype="multipart/form-data" name="edit" id="edit">
<table>
<tr><td>
  <p>Įvedamas HTML tekstas</p>
  <table><tr>

<tr>
<th>&nbsp;</th>
<td>
<textarea id="inhalt" name="inhalt" style="width:100%" rows="20" cols="100">{DATA2}</textarea>
<script type="text/javascript">
function mySubmit() {
// document.edit.save.value = "yes";
document.edit.onsubmit(); // workaround browser bugs.
document.edit.submit();
};
</script>
<label>

  <div align="right"> <br>
  </div>
  </label></td>
</tr>
</table>
  <p>Prisegamos iliustracijos (1024x768)</p>
  <p>
 
    <input type="hidden" name="MAX_FILE_SIZE" value="30000" >
    <input name="F1" type="file" size="20" >
	 <!-- BEGIN DYNAMIC BLOCK: view1 -->
	<br>{DATA3}<a title='Delete object' href='javascript:doit("Delete?","../user/object_old_data_delete.php?id={ID3}&data={DATA3}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
	<!-- END DYNAMIC BLOCK: view1 -->
</p>
  <p>Prisegamas *. Flv failas (Video klipas)</p>
  <p>
    <input type="hidden" name="MAX_FILE_SIZE2" value="30000">
    <input name="F2" type="file" size="20" >
	<br>{DATA4}<a title='Delete object' href='javascript:doit("Delete?","../user/object_old_data_delete.php?id={ID4}&data={DATA4}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
</p>
  <p>Prisegami susiję failai</p>
  <p>
  
    <input type="hidden" name="MAX_FILE_SIZE3" value="30000">
    <input name="F3" type="file" id="F3" size="20" >
	<!-- BEGIN DYNAMIC BLOCK: view -->
	<br>{DATA5}<a title='Delete object' href='javascript:doit("Delete?","../user/object_old_data_delete.php?id={ID5}&data={DATA5}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
	<!-- END DYNAMIC BLOCK: view -->
</p>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <blockquote>
                    <blockquote>
                      <blockquote>
                        <blockquote>
                          <blockquote>
                            <p>
                              <input type="submit" name="Submit" value="Prisegti">
                            </p>
                          </blockquote>
                        </blockquote>
                      </blockquote>
                    </blockquote>
                  </blockquote>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>

</form>
