</form>
<form enctype="multipart/form-data" action="add_object_files.php"
method="post"> 
  <p>Prisegamas Flash failas (Flash demonstracija)</p>
  <p>
  <input type="hidden" name="MAX_FILE_SIZE" value="30000" >
  <input name="F1" type="file" size="20" > 
  <br>
    {DATA6}<a title='Delete object' href='javascript:doit("Delete?","../user/object_old_data_delete.php?id={ID6}&data={DATA6}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>  </p>
  <p>Atsiskaitymo lapas (Prisegamas  dokumentas)</p>
  <p>
  
    <input name="F3" type="file" size="20">
  </p>
  <p>{DATA7}<a title='Delete object' href='javascript:doit(&quot;Delete?&quot;,&quot;../user/object_old_data_delete.php?id={ID7}&amp;data={DATA7}&quot;)'><img border="0" src='../img/delete.gif' alt='Delete' /></a></p>
  <p>Prisegami susiję failai</p>

<input type="hidden" name="MAX_FILE_SIZE" value="30000"> 
<input name="F2" type="file" size="20" > 
<!-- BEGIN DYNAMIC BLOCK: view -->
<br>{DATA5}<a title='Delete object' href='javascript:doit("Delete?","../user/object_old_data_delete.php?id={ID5}&data={DATA5}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
<!-- END DYNAMIC BLOCK: view -->
  <p>
    <label>
    <input type="submit" name="Submit" value="Prisegti">
    </label>
  </p>
  <p>&nbsp;</p>

</form>
