{HEAD}
<form name="fClassificator" method="POST" action="classificator_save_item.php">
<input type="hidden" name="cid" value="{CLASSIFICATOR_ID}">
<input type="hidden" name="update" value="">
<table>
<tr>
<th colspan="2">Klasifikatoriaus redagavimas</th>
</tr><tr>
<th>Pavadinimas</th><td><input type="text" name="cTitle" size="80" value="{CLASSIFICATOR_TITLE}"></td>
</tr><tr>
<th>Klasifikatoriaus struktūra</th><td><select name="items" size="20">
{CLASSIFICATOR_OUTPUT}
</select><input type="button" value="Įkelti reikšmę" onclick="cItem.value=items[items.selectedIndex].text;"><input type="button" value="Keisti pasirinktą šaką" onclick="document.fClassificator.update.value=1;document.fClassificator.submit();"><a title='Šalinti' href='javascript:doit("Šalinti elementą?","classificator_delete_item.php?cid={CLASSIFICATOR_ID}&classificator_item_id=" + document.fClassificator.items[document.fClassificator.items.selectedIndex].value)'><img border=0 src='../img/delete.gif' alt='Šalinti'></a>
</td>
</tr><tr>
<th>Aukščiau pasirinkite tėvo šaką, įveskite tekstą:</th>
<td><input type="text" name="cItem" size="120"></td>
</tr><tr>
<th>Naudoti paieškai:</th>
<td><input type="checkbox" name="searchable" {CLASSIFICATOR_SEARCH_ENABLED}></td>
</tr><tr>
<th>Veiksmai</th><td>
<input type="submit" value="Saugoti">
</td>
</tr>
</table>
</form>
{FOOTER}
