{HEAD}
{MENU}
<table cellspacing="10">
<tr><th>Datein</th><th><input class="boxyellow" type="button" value="Datein hinzufuegen" onClick="location='file_add.php'"></th></tr>
<tr>
<th>Icon</th>
<th>Name</th>
<th>Date</th>
<th>Aktion</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: line -->
<tr>
<td>{ICON}</td>
<td>{NAME}</td>
<td>{DATE}</td>
<td>{ACTION}</td>
</tr>
<!-- END DYNAMIC BLOCK: line -->
</table>
{FOOTER}
