<hr align="left" noshade="noshade" size="2" width="100%" color="#000000">
<span class="navi">&nbsp;&nbsp;</span><span class="textfett">Platinama pagal GPL licenziją &copy; 2006</span></div>
</body>
</html>
