{HEAD}
<table width="232" height="107" cellspacing="10">

<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td width="208">{USER_AUTH} {DATE}</td>
</tr>
<tr>
<td>{COM_TEXT}</td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
<br>
{FOOTER}
