<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
{HEAD}

<div style="float:center;padding-top:7px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
	<tr>

					<td valign="top" width="100%" colspan="2">

<div class="input-form">
<form name="lom" method="POST" action="object_savefile.php" enctype="multipart/form-data">
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
<h1>Mokymo(si) objekto failas</h1>
<p>{FORM}<br>
  Prisegti failą: 
  <input type="file" name="uploadedfile" value="Siųsti">
  <br>
  Pastaba: prisegant naują failą, prisegtas anksčiau pašalinamas.</p>
<p>
  <label></label>
  <label></label>
  <select name="menu2" onchange="MM_jumpMenu('parent',this,0)">
    <option value="object_edit.php?xpath=file&amp;type=demonstration" {SELECTED1}>Demonstracija</option>
    <option value="object_edit.php?xpath=file&amp;type=lab_darbas" {SELECTED2}>Laboratorinis darbas</option>
    <option value="object_edit.php?xpath=file&amp;type=test_klausimai"{SELECTED3}>Testo klausimai</option>
    <option value="object_edit.php?xpath=file&amp;type=zod_zodis" {SELECTED4}>Žodyno žodis</option>
    <option value="object_edit.php?xpath=file&amp;type=enc_straipsnis" {SELECTED5}>Enciklopedijos straipsnis</option>
      </select>

</p>
<p>{TYPE_OBJECT}</p>
</form>
</td></tr></table>
</div>
<br>
{FOOTER}
