<p>{HEAD}
  
  
</p>
<p>&nbsp;</p>
<form enctype="multipart/form-data"  method="post" action="object_zip_upload_action.php">
  <p>&nbsp;</p>
  <p>Prisegamas naujas obektas(Zip archyvas):</p>
  <p>
    <input name="F1" type="file" size="20" />
  </p>
  <p>
    <label>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <p>&nbsp;            </p>
            <p>
              <input type="submit" name="Submit" value="&#302;kelti" />
            </p>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
    </label>
  </p>
</form>
<p>&nbsp;</p>
<p>{FOOTER}</p>
