{HEAD}
<table width="258" height="107" cellspacing="10">

<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>{USER_AUTH} {DATE}</td>
<td><a title='Delete object' href='javascript:doit("Delete?","../user/object_com_delete.php?id={ID}")'><img border=0 src='../img/delete.gif' alt='Delete'></a></td>
</tr>
<tr>
<td>{COM_TEXT}</td>
</tr>

<!-- END DYNAMIC BLOCK: view -->
</table>
<br>
{FOOTER}
