<p>{HEAD}
  {FILELINK}</p>
<p>
  </div>
  </label>
</p>
  </div>
  </label>
  <label> </label>
  </p>
</p>


<p>&nbsp;</p>
<p><label>Objekto ivertinimas {AVG}</label></p>
<table>
{OBJECT}
</table>
<p> Objekto &#303;vertinimas </p>
<form id="form2" name="form2" method="post" action="./add_rating.php?object_id={ID}">
  <blockquote>
    <p>&nbsp;</p>
  </blockquote>
  <table width="328" height="49">
    <tr>
      <td width="20"><label>
        <input name="radiobutton" type="radio" value="1" />
      </label></td>
      <td width="20"><input name="radiobutton" type="radio" value="2" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="3" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="4"/></td>
      <td width="20"><input name="radiobutton" type="radio" value="5" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="6" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="7" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="8" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="9" /></td>
      <td width="20"><input name="radiobutton" type="radio" value="10" /></td>
      <td width="532">&nbsp;</td>
    </tr>
    <tr>
      <td><div align="center">1</div></td>
      <td><div align="center">2</div></td>
      <td><div align="center">3</div></td>
      <td><div align="center">4</div></td>
      <td><div align="center">5</div></td>
      <td><div align="center">6</div></td>
      <td><div align="center">7</div></td>
      <td><div align="center">8</div></td>
      <td><div align="center">9</div></td>
      <td><div align="center">10</div></td>
      <td><label>
        <input type="submit" name="Submit2" value="&#302;vertinti" />
      </label></td>
    </tr>
  </table>
</form>
<form action="./add_com.php?object_id={ID}" method="post" enctype="multipart/form-data" encoding="utf-8" name="form1" id="form1">
  <p>
        <label></label>
  J&#363;su komentaras: </p>
        <p name="textarea" cols="50" rows="6">
          <textarea name="textarea" cols="50" rows="6"></textarea>
            </p>
        <p>
    <label>    </label>
    <input type="submit" name="Submit" value="i&scaron;saugoti" />
    </p>
  <blockquote><blockquote><blockquote><blockquote><blockquote><blockquote><blockquote>&nbsp;</blockquote>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
      <p>
    <label></label>
  </p>
</form>
<p>&nbsp;</p>
<p><br>
  {FOOTER}
</p>
