{HEAD}
<form method="POST" action="search_result.php">
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Paieška:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Raktiniai žodžiai:</td>
      <td><input type="text" name="search" size="30" maxlength="100">  </td>
    </tr>
    <tr>
      <td colspan=2>Klasifikatoriai:<br>
<!-- BEGIN DYNAMIC BLOCK: classificator -->
      {CLASSIFICATOR_TITLE}: <select name="classificator_{CLASSIFICATOR_ID}" size="1">
      <option value="">Nepasirinktas</option>
      {CLASSIFICATOR_OUTPUT}
      </select><br>
<!-- END DYNAMIC BLOCK: classificator -->
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="Ieškoti"></td>
      <td></td>
    </tr>
  </tbody>
</table>
</form><br>
Pagal <a href="http://eunbrux09.eun.org:8888/FireClient/index.jsp" target="_blank">Calibrate LRE paiešką.</a>
{FOOTER}
