
<table cellspacing="10">
<tr>
<th >Mokomieji objektai:</th>
</tr><tr>
<th>Pavadinimas</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>[{ID}] <a title='View object' href='object_view.php?object_id={ID}'>{TITLE_SHORT}</a>
<a title='view commentary' href='../user/object_view_com.php?object_id={ID}'><img border=0 src='../img/xml.gif' alt='view commentary'></a> Reitingas ({AVG})

 <A HREF="#" onclick="opener.document.lom.elements['{FIELD}'].value='object_view.php?object_id={ID}'; window.close();">Įterpti</A>
<br></td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
