<style type="text/css">
<!--
.Stil1 {
	color: #FFFFFF;
	font-weight: bold;
}
.Stil3 {
	color: #FF0000;
	font-style: italic;
}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function YY_checkform() { //v4.66
//copyright (c)1998,2002 Yaromat.com
  var args = YY_checkform.arguments; var myDot=true; var myV=''; var myErr='';var addErr=false;var myReq;
  for (var i=1; i<args.length;i=i+4){
    if (args[i+1].charAt(0)=='#'){myReq=true; args[i+1]=args[i+1].substring(1);}else{myReq=false}
    var myObj = MM_findObj(args[i].replace(/\[\d+\]/ig,""));
    myV=myObj.value;
    if (myObj.type=='text'||myObj.type=='password'||myObj.type=='hidden'){
      if (myReq&&myObj.value.length==0){addErr=true}
      if ((myV.length>0)&&(args[i+2]==1)){ //fromto
        var myMa=args[i+1].split('_');if(isNaN(myV)||myV<myMa[0]/1||myV > myMa[1]/1){addErr=true}
      } else if ((myV.length>0)&&(args[i+2]==2)){
          var rx=new RegExp("^[\\w\.=-]+@[\\w\\.-]+\\.[a-z]{2,4}$");if(!rx.test(myV))addErr=true;
      } else if ((myV.length>0)&&(args[i+2]==3)){ // date
        var myMa=args[i+1].split("#"); var myAt=myV.match(myMa[0]);
        if(myAt){
          var myD=(myAt[myMa[1]])?myAt[myMa[1]]:1; var myM=myAt[myMa[2]]-1; var myY=myAt[myMa[3]];
          var myDate=new Date(myY,myM,myD);
          if(myDate.getFullYear()!=myY||myDate.getDate()!=myD||myDate.getMonth()!=myM){addErr=true};
        }else{addErr=true}
      } else if ((myV.length>0)&&(args[i+2]==4)){ // time
        var myMa=args[i+1].split("#"); var myAt=myV.match(myMa[0]);if(!myAt){addErr=true}
      } else if (myV.length>0&&args[i+2]==5){ // check this 2
            var myObj1 = MM_findObj(args[i+1].replace(/\[\d+\]/ig,""));
            if(myObj1.length)myObj1=myObj1[args[i+1].replace(/(.*\[)|(\].*)/ig,"")];
            if(!myObj1.checked){addErr=true}
      } else if (myV.length>0&&args[i+2]==6){ // the same
            var myObj1 = MM_findObj(args[i+1]);
            if(myV!=myObj1.value){addErr=true}
      }
    } else
    if (!myObj.type&&myObj.length>0&&myObj[0].type=='radio'){
          var myTest = args[i].match(/(.*)\[(\d+)\].*/i);
          var myObj1=(myObj.length>1)?myObj[myTest[2]]:myObj;
      if (args[i+2]==1&&myObj1&&myObj1.checked&&MM_findObj(args[i+1]).value.length/1==0){addErr=true}
      if (args[i+2]==2){
        var myDot=false;
        for(var j=0;j<myObj.length;j++){myDot=myDot||myObj[j].checked}
        if(!myDot){myErr+='* ' +args[i+3]+'\n'}
      }
    } else if (myObj.type=='checkbox'){
      if(args[i+2]==1&&myObj.checked==false){addErr=true}
      if(args[i+2]==2&&myObj.checked&&MM_findObj(args[i+1]).value.length/1==0){addErr=true}
    } else if (myObj.type=='select-one'||myObj.type=='select-multiple'){
      if(args[i+2]==1&&myObj.selectedIndex/1==0){addErr=true}
    }else if (myObj.type=='textarea'){
      if(myV.length<args[i+1]){addErr=true}
    }
    if (addErr){myErr+='* '+args[i+3]+'\n'; addErr=false}
  }
  if (myErr!=''){alert('The required information is incomplete or contains errors:\t\t\t\t\t\n\n'+myErr)}
  document.MM_returnValue = (myErr=='');
}
//-->
</script>

{HEADER}

<table width="500"  border="0" align="center" cellpadding="5" cellspacing="0" bgcolor="#666666">
  <tr>
    <td class="text_weiss"><span class="Stil1">Request a demo course </span></td>
  </tr>
</table>
<table width="500"  border="0" align="center" cellpadding="5" cellspacing="0" bordercolor="#666666" bgcolor="#efefef" id="pane-table">
  <tr>
    <td><form name="FormName" action="user_save.php" method="post">
        <input name="pId" type="hidden" id="pId"  value="{PID}">
        <input name="iId" type="hidden" id="iId"  value="{INSTITUTIONID}">
        <input name="dId" type="hidden" id="dId"  value="{DEPARTMENTID}">
        <span class="text">
        <input name="lang" type="hidden" id="lang2" value="en">
        </span>        <table border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td class="text">Institution/Company/School:</td>
            <td><input name="pinstitution" type="text" class="action" id="pinstitution" value="{INSTITUTION}" size="30"></td>
          </tr>
          <tr>
            <td class="text">Department:</td>
            <td><input name="pdepartment" type="text" class="action" id="pdepartment" value="{DEPARTMENT}" size="30"></td>
          </tr>
        </table>
 
        <table border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td width="62" class="text">&nbsp;</td>
            <td width="177">&nbsp;</td>
            <td width="119" class="text">&nbsp;</td>
            <td width="112" align="right">&nbsp;</td>
          </tr>
          <tr>
            <td class="text"><p>Course request:</p></td>
            <td><select name="cduration" class="action" id="cduration">
              <option value="1" selected>Please Select !!!</option>
              <option value="6">6 Months (&euro; 175)**</option>
              <option value="12">12 Months (&euro; 300)**</option>
                                                            </select></td>
            <td colspan="2" class="Stil3">**<strong>SPECIAL DISCOUNT</strong> for
              customers from Eastern Europe 50% off in the first year! </td>
          </tr>
          <tr>
            <td class="text">Coursetitle*:</td>
            <td colspan="3"><input name="cname" type="text" class="action" id="cname" value="" size="45"></td>
          </tr>
          <tr>
            <td class="text">Description:</td>
            <td colspan="3"><input name="cdescription" type="text" class="action" id="cdescription" value="" size="45"></td>
          </tr>
          <tr>
            <td class="text">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
          </tr>
        </table>
 
        <table border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td class="text">Login:</td>
            <td>{LOGIN}</td>
            <td class="text">WebCT ID:</td>
            <td>{WEBCTID}</td>
          </tr>
          <tr>
            <td class="text">Salutation:</td>
            <td><input name="pcall" type="text" class="action" id="pcall" value="{CALL}" size="12"></td>
            <td class="text">Title*:</td>
            <td><input name="ptitle" type="text" class="action" id="ptitle" value="{PTITLE}" size="20"></td>
          </tr>
          <tr>
            <td class="text">First name:</td>
            <td><input name="psurname" type="text" class="action" id="psurname" value="{SURNAME}" size="12" maxlength="20"></td>
            <td class="text">Name:</td>
            <td><input name="pname" type="text" class="action" id="pname" value="{NAME}" size="20" maxlength="30"></td>
          </tr>
          <tr>
            <td class="text">Fax*:</td>
            <td><input name="pfax" type="text" class="action" id="pfax" value="{FAX}" size="12" maxlength="20"></td>
            <td class="text">e-mail:</td>
            <td><input name="pemail" type="text" class="action" id="pemail" value="{EMAIL}" size="20" maxlength="25"></td>
          </tr>
          <tr>
            <td class="text">Phone:</td>
            <td><input name="pphone" type="text" class="action" id="pphone" value="{PHONE}"  size="12" maxlength="20"></td>
            <td class="text">Address:</td>
            <td><input name="pstreet" type="text" class="action" id="pstreet" value="{STREET}"  size="20" maxlength="30"></td>
          </tr>
          <tr>
            <td class="text">Zip / City:</td>
            <td colspan="3"><input name="pzip" type="text" class="action" id="pzip" value="{ZIP}"  size="8" maxlength="5">
              /
                <input name="ptown" type="text" class="action" id="ptown" value="{TOWN}" size="20" maxlength="20"></td>
          </tr>
          <td class="text">Country:</td>
              <td colspan="3"><input name="pcountry" type="text" class="action" id="pcountry" value="{COUNTRY}" size="50" maxlength="60"></td>
          </tr>
          <tr>
            <td colspan="4" align="right">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4" align="right"><div align="left">
              <input name="licenseAgreement" type="checkbox" class="action" id="licenseAgreement" value="checkbox">
            I have read the WebCT License Agreement and accept it. </div></td>
          </tr>
          <tr>
            <td colspan="4" align="right">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="right"><div align="left">*these fields are
                not mandatory.</div></td>
            <td colspan="2" align="right"><div align="right">
                <input name="button" type="button" class="action" onClick="javascript:window.close();" value="cancel">
&nbsp;
                <input name="submit" type="submit" class="action" onClick="YY_checkform('FormName','licenseAgreement','#q','1','Please read and accept the license agreement. Otherwise we cannot setup your ASP course','pinstitution','#q','0','Please enter the name of your Institution/Company/School','pdepartment','#q','0','Please enter the Department','cname','#q','0','Please enter a title for your course','cdescription','#q','0','Please enter a short description for your course','pcall','#q','0','Please enter your salutation','psurname','#q','0','Please enter your First name','pname','#q','0','Please enter your Last name','pemail','#S','2','Please enter your valid e-mail address','pphone','#q','0','Please enter your phone number','pstreet','#q','0','Please enter your address','pzip','#q','0','Please enter your Zip code','ptown','#q','0','Please enter your city','cduration','#q','1','Please select the duration of your course');return document.MM_returnValue" value="go">
            </div></td>
          </tr>
        </table>
    </form></td>
  </tr>
</table>
<div id="main-content">
</div>
		    </div>
{FOOTER}
