<form enctype="multipart/form-data" action="add_object_files.php" method="post"> 
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
  <p>Prisegamas *.xml failas (Testo klausimas)</p>
  <input type="hidden" name="MAX_FILE_SIZE" value="30000000" >
<input name="F1" type="file" size="20" > 
<br>
{DATA6}
<p>Iliustracijos</p>

<input type="hidden" name="MAX_FILE_SIZE" value="30000000"> 
<input name="F2" type="file" size="20" > 
<br />

<!-- BEGIN DYNAMIC BLOCK: view --> 
{DATA5}<br />
<!-- END DYNAMIC BLOCK: view -->
<input type="submit" name="Submit" value="Prisegti">
</form>
