{HEAD}
{SUBMENU}
<form name="fClassificator" method="POST" action="classificator_save_item.php">
<input type="hidden" name="cid" value="{CLASSIFICATOR_ID}">
<input type="hidden" name="update" value="">
<table>
<tr>
<th colspan="2">Klasifikatoriaus redagavimas</th>
</tr><tr>
<th>Pavadinimas</th><td><input type="text" name="cTitle" size="80" value="{CLASSIFICATOR_TITLE}"></td>
</tr><tr>
<th>Klasifikatoriaus struktūra</th><td><select name="items" size="20" onChange="document.fClassificator.update.value='';">
{CLASSIFICATOR_OUTPUT}
</select><input type="button" value="Įkelti reikšmę redagavimui" onclick="cItem.value=items[items.selectedIndex].text; while(cItem.value.charAt(0)==' ') cItem.value=cItem.value.slice(1);document.fClassificator.update.value=1;">
<input type="button" value="Aukštyn" onclick="javascript:document.location='classificator_move_item.php?cid={CLASSIFICATOR_ID}&direction=-1&classificator_item_id=' + document.fClassificator.items[document.fClassificator.items.selectedIndex].value">
<input type="button" value="Žemyn" onclick="javascript:document.location='classificator_move_item.php?cid={CLASSIFICATOR_ID}&direction=1&classificator_item_id=' + document.fClassificator.items[document.fClassificator.items.selectedIndex].value">
</td>
</tr><tr>
<th>Aukščiau pasirinkite tėvo šaką, įveskite tekstą:</th>
<td><input type="text" name="cItem" size="120"></td>
</tr>
<tr>
<th>Naudoti paieškai:</th>
<td><input type="checkbox" name="searchable" {CLASSIFICATOR_SEARCH_ENABLED}></td>
</tr>
<tr>
<th>Klasifikatorius skirtas XML eksportui:</th>
<td><input type="checkbox" name="mapping" {CLASSIFICATOR_MAPPING}></td>
</tr>
<tr>
<th>Naudoti tik objektams tipo:</th>
<td><select name="object_type_limiter" size="1">
<option value="">Visiems</option>
</select></td>
</tr>
<tr>
<th>Veiksmai</th><td>
<input type="submit" value="Saugoti">
<a title='Šalinti' href='javascript:doit("Šalinti elementą?","classificator_delete_item.php?cid={CLASSIFICATOR_ID}&classificator_item_id=" + document.fClassificator.items[document.fClassificator.items.selectedIndex].value)'><img border=0 src='../img/delete.gif' alt='Šalinti'></a>
</td>
</tr>
</table>
</form>
{FOOTER}
