{HEAD}
<div id="txt_left">
<A HREF='#1'></A>
<h1>{ARTICLE}</h1> 

<!-- BEGIN DYNAMIC BLOCK: view -->
<div class="news">
<p>{ID}</p>
<br>
<img src='./img/arrow_left.gif' width='4' height="10" border='0' /><a href="javascript:history.go(-1)">Atgal</a> <img src='./img/arrow_up.gif' width='10' height="4" border='0' /><a href='article.php#1 ' >Į viršų </a>
</div>
<!-- END DYNAMIC BLOCK: view -->
</div>




</div>

<div id="main_right">

{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>