{HEAD}

<div style="float:center;padding-top:7px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
	<tr>

					<td valign="top" width="100%" colspan="2">

<div class="input-form">
<form name="lom" method="POST">
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xthis" value="{XPATH}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
{FORM}
</form>
</td></tr></table>
</div>
<br>
{FOOTER}
