{HEAD}
<div id="txt_left">


<h1>Dalykai</h1>
<ul id="list">
<!-- BEGIN DYNAMIC BLOCK: view1 -->
{SUBJECTS}
<!-- END DYNAMIC BLOCK: view1 -->
</ul>

<h1>Naujausi mokymosi objektai</h1><a href="all_new_objects.php?order_by=modified&page=1" class="submit_2">Visi naujausi</a>
<!-- BEGIN DYNAMIC BLOCK: view -->
<div class="news">
{ID}
</div>
<!-- END DYNAMIC BLOCK: view -->
</div>



</div>

<div id="main_right">

{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>