<h1>Informacija ir pagalba</h1>

<ul class="menu">
<li><a href="article.php" class="sub_main">&#381;inynas</a></li>
<li><a href="article.php" class="inside">LOM specifikacija</a></li>
<li><a href="article.php" class="sub_inside">Kaip naudotis</a></li>
<li><a href="article.php">Administratoriaus vadovas</a></li>
<li><a href="article.php">Naudotojo vadovas</a></li>
<li><a href="article.php" class="main">Informacija</a></li>
</ul>