{HEAD}

<div style="float:center;padding-top:7px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
	<tr>

					<td valign="top" width="100%" colspan="2">

<div class="input-form">


<h1>&nbsp;</h1>
<br>Prisegtas failas: {DATA5}
<form enctype="multipart/form-data" action="add_object_files.php" method="POST"> 
<input type="hidden" name="id" value="{ID}">
<input type="hidden" name="xpath" value="{XPATH}">
<input type="hidden" name="nexturl" value="{NEXTURL}">
<br><p>Prisegami susiję failai</p>
<input type="hidden" name="MAX_FILE_SIZE" value="30000000"> 
<input name="F2" type="file" size="20" >
<input type="submit" name="Submit" value="Prisegti">
</form>

</td></tr></table>
</div>
<br>
{FOOTER}
