{HEAD}
<form method="POST" action="search_result.php">
<table>
  <thead>
    <tr>
      <th scope=col colspan=2>Paieška:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Raktiniai žodžiai:</td>
      <td><input type="text" name="search" size="30" maxlength="100">  </td>
    </tr>
    <tr>
      <td><input type="submit" value="Ieškoti"></td>
      <td><a href="search_advanced.php">Detalesnė paieška.</a></td>
    </tr>
  </tbody>
</table>
</form><br>
{FOOTER}
