{HEAD}
<table cellspacing="10">
<tr>
<th >Mokomieji objektai:</th>
</tr><tr>
<th>ID</th>
<th>Pavadinimas</th>
<th>Autorius</th>
<th>Veiksmas</th>
</tr>
<!-- BEGIN DYNAMIC BLOCK: view -->
<tr>
<td>{ID}</td>
<td>{TITLE_SHORT}</td>
<td>{AUTHOR}</td>
<td>
<a title='View object' href='../user/object_view.php?object_id={ID}'><img border=0 src='../img/view.gif' alt='View'></a>
<a title='Save object metadata' href='../user/object_export_lom.php?object_id={ID}'><img border=0 src='../img/xml.gif' alt='Save object metadata'></a>
<a title='Edit object' href='../user/object_load.php?object_id={ID}&language=lt'><img border=0 src='../img/edit_lt.gif' alt='Edit'></a>
<a title='Edit object' href='../user/object_load.php?object_id={ID}&language=en'><img border=0 src='../img/edit_en.gif' alt='Edit'></a>
<a title='Delete object' href='javascript:doit("Delete?","../user/object_delete.php?object_id={ID}")'><img border=0 src='../img/delete.gif' alt='Delete'></a>
</td>
</tr>
<!-- END DYNAMIC BLOCK: view -->
</table>
<br>
{FOOTER}
