{HEAD}
<div id="txt_left">
<h1>Rasti objektai </h1>
<ul id="sort">
<li class="left">Viso: {AT_ALL} <span>Rušiuoti pagal:</span></li>
<li class="right"><a href="search_result.php?order_by=clicks&amp;page=1"><span>Parsisiuntimų skaičių</span></a></li>
<li class="right"><a href="search_result.php?order_by=object_rating&amp;page=1"><span>Vartotoju reitingą</span></a></li>
<li class="right"><a href="search_result.php?order_by=title&amp;page=1"><span>Abėcelę</span></a></li>
<li class="right"><a href="search_result.php?order_by=modified&amp;page=1"><span>Įvedimo datą</span></a></li>
</ul>
<!-- BEGIN DYNAMIC BLOCK: view -->
<div class="news">
{ID}
</div>
<!-- END DYNAMIC BLOCK: view -->

{PRINT_PAGES}
</div>
</div>
<div id="main_right">
{MENIU}
</div>
{FOOTER}
</div>

</div>
</body>
</html>