<!-- the sub navigation -->
<div style="float: right; padding-top: 5px; padding-right: 5px;"></div>
<div id="sub-navigation">
<a title='Klasifikatorių atvaizdavimas' href='classificator_mapping1.php'><img src="../img/xml.gif" border="0" /> Klasifikatorių atvaizdavimas</a>
</div>
