{HEADER}
<table width="95%"  border="1" align="center" cellpadding="5" cellspacing="0" bordercolor="#666666" bgcolor="#efefef">
  <tr>
    <td><table width="100%" border="0" cellpadding="5" cellspacing="0">
        <tr>
          <td colspan="2"><p><b>Thank you! </b><br>
              Your request has been send and
you will receive an email confirmation soon.<br>
<br>
          </p></td>
        </tr>
        <tr>
          <td width="24%" class="text"><strong>Institution/Company/School:</strong></td>
          <td width="76%">{INSTITUTION}</td>
        </tr>
        <tr>
          <td class="text"><strong>Department:</strong></td>
          <td>{DEPARTMENT}</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><table border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td class="text"><strong>Salutation:</strong></td>
                <td>{CALL}</td>
                <td class="text"><strong>Title:</strong></td>
                <td>{TITLE}</td>
              </tr>
              <tr>
                <td class="text"><strong>First name:</strong></td>
                <td>{SURNAME}</td>
                <td class="text"><strong>Name:</strong></td>
                <td>{NAME}</td>
              </tr>
              <tr>
                <td class="text"><strong>Fax:</strong></td>
                <td>{FAX}</td>
                <td class="text"><strong>e-mail:</strong></td>
                <td>{EMAIL}</td>
              </tr>
              <tr>
                <td class="text"><strong>Phone:</strong></td>
                <td>{PHONE}</td>
                <td class="text"><strong>Address:</strong></td>
                <td>{STREET}</td>
              </tr>
              <tr>
                <td class="text"><strong>Zip / City:</strong></td>
                <td colspan="3">{ZIP} / {TOWN}</td>
              </tr>
              <tr>
                <td class="text"><strong>Country:</strong></td>
                <td colspan="3">{COUNTRY}</td>
              </tr>
              <tr>
                <td class="text"><strong>Login/WebCT ID:</strong></td>
                <td colspan="3">{WEBCTID}</td>
              </tr>
              <tr>
                <td colspan="4" align="right"><div align="right"> </div></td>
              </tr>
            </table>
              <blockquote>&nbsp;</blockquote></td>
        </tr>
        <tr>
          <td colspan="2"><div align="right">
              <input name="button" type="button" class="action" onclick="window.close();" value="close">
          </div></td>
        </tr>
    </table></td>
  </tr>
</table>
<script language="JavaScript">
top.reload();
</script>

<div id="main-content"></div>
{FOOTER}